.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  padding: 0;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;

  /* ПЕРЕНЕС */
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
/* ПЕРЕНЕС */
}
.logo {
  width: 228px;
  height: 32px;
}/* ПЕРЕНЕС */

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
  background-image: url(../images/logo_place_header.svg);
}/* ПЕРЕНЕС */
.header__title {
  margin: 0;
  width: 730px;
  display: flex;
  margin-left: 64px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  z-index: 3;
}/* ПЕРЕНЕС */
.header__subtitle {
  margin: 0;
  max-width: 388px;
  width: 100%;
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 3;
} /* ПЕРЕНЕС */

.header__main-ilustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 2;
}/* ПЕРЕНЕС */

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
}/* ПЕРЕНЕС */

/* и элемента с модификатором вида ключ-значение */

.description {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}/* ПЕРЕНЕС */

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}/* ПЕРЕНЕС */

.two-columns__breef {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  width: 175px;
  margin: 0;
  color: #2f80ed;
}/* ПЕРЕНЕС */

.two-columns__main-text {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 34px;
  width: 80%;
  min-width: 784px;
}/* ПЕРЕНЕС */
.two-columns__paragraph {
  margin: 0;
  margin-bottom: 30px;
}/* ПЕРЕНЕС */

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}/* ПЕРЕНЕС */

.two-columns__span-accent {
  font-weight: 600;
}/* ПЕРЕНЕС */
.digits {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}/* ПЕРЕНЕС */
.section-title {
  width: 60%;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  text-align: center;
  margin: 0;
}/* ПЕРЕНЕС */
.section-subtitle {
  width: 60%;
  margin-bottom: 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}/* ПЕРЕНЕС */
.table {
  padding: 0;
  margin: 0 auto 100px;
  display: flex;
  flex-flow: row;
  width: 1100px;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
}/* ПЕРЕНЕС */
.table__cell {
  width: 250px;
  margin-top: 60px;

}/* ПЕРЕНЕС */

.table__heading {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1,15;
  font-weight: 600;
}/* ПЕРЕНЕС */

.table__text {
  margin: 0;
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}/* ПЕРЕНЕС */
.feynman {
  display: flex;
  position: relative;
  min-height: 890px;
  flex-flow: column;
  background-color: #f2f2f2;

}/* ПЕРЕНЕС */
.feynman__main-ilustration {
  position: absolute;
  width: 765px;
  height: 608px;
  left:0;
  bottom: 0;
}/* ПЕРЕНЕС */

.feynman__title {
  width: 648px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 600;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 0;
  z-index: 1;
}/* ПЕРЕНЕС */

.feynman__subtitle {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-align: center;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 0;
  z-index: 1;
}/* ПЕРЕНЕС */
.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  z-index: 1;
}/* ПЕРЕНЕС */
.kaufman {
  position: relative;
    padding-top: 100px;
    background-color: #1f1f1f;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}/* ПЕРЕНЕС */
.section-title_theme_dark {
  color: white;
}/* ПЕРЕНЕС */
.section-subtitle_theme_dark {
  color: white;
}/* ПЕРЕНЕС */
.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}/* ПЕРЕНЕС */

.table_theme_dark {
  color: white;
  margin-bottom: 80px;
}/* ПЕРЕНЕС */

.table__text_theme_dark {
  color: white;
}/* ПЕРЕНЕС */
.table__heading_theme_dark {
  color: white;
}/* ПЕРЕНЕС */
.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  height: 877px;
  width: 877px;
  position: absolute;
  right: -210px;
}/* ПЕРЕНЕС */
.footer {
  display: flex;
  min-height: 350px;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
}/* ПЕРЕНЕС */



.logo_place_footer {
    align-self: flex-start;
    top: 30px;
    left: 64px;
    z-index: 1;
    background-image: url(../images/logo_place_footer.svg);
  }/* ПЕРЕНЕС */

.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: white;
}/* ПЕРЕНЕС */
.footer__column_content_copyright {
  display: flex;
  position: relative;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}/* ПЕРЕНЕС */

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0 18px;
}/* ПЕРЕНЕС */

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;

}/* ПЕРЕНЕС */

.footer__column-links {
    display: flex;
    flex-flow: column;
    margin:0;
    padding: 0;
    margin-top: 20px;

  }/* ПЕРЕНЕС */
.footer__column-link {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color:#f2f2f2;
  text-decoration:  none;
}/* ПЕРЕНЕС */

.footer__column_content_info {
  display: flex;
  flex-flow: column;
}/* ПЕРЕНЕС */

.footer__column_content_social {
  display: flex;
  flex-flow: column;
}/* ПЕРЕНЕС */

.footer__social-icon {
  margin: 0 10px 0 0;
  width: 16px;
  height: 16px;
}/* ПЕРЕНЕС */


